# node modules and builded files
node_modules/
package-lock.json
cache/
dist/
./build/
*.bat

# vscode files
!.vscode/settings.json
**/.vscode
**/jsconfig.json
**/tsconfig.json
ts-build/

# test folders
**/test
todo.txt

#ts files
App/ts